/* busy indicator box always on top */
/* .shinysky-busy-indicator {
  z-index: 1001;
} */
#footer {
    font-size: x-small;
    padding: 10px;
    position:absolute;
    bottom:0;
}
/* force text wrap for displayed dir path */
.dirPath {
  word-wrap: break-word;
}
/* absolutely right-adjusted */
.absRight {
  position: absolute;
  right: 15px;
}
/* overlay absolutely right-adjusted */
.overlayRight {
  position: absolute;
  z-index: 1000;
  right: 15px;
}
.selectize-input.full {
  max-width: 15vw; /* ca. 2/12 bootstrap columns */
}
.narrow .btn, .narrow .form-control, .narrow .selectize-input {
  width: 20%;
  min-width: 40px;
}
/* Inline labels and inputs using "table-row"" and "table-cell" values of the display   */
/* property  */
.form-group {
  display: table-row;
}
.form-group > label, .form-group > input, .form-group > div {
  /*border:1px solid red;*/ /* uncomment to DEBUG layout of the form group elements*/
  display: table-cell;
  vertical-align: middle;
}
.form-group > label {
  text-align: right;
  max-width: 24vw;
  padding-right: 10px;
  font-weight: normal;
}
.form-group > input, .form-group > div {
  min-width: 8vw;
}
.selectize-control .item {
  padding-right: 15px;
}
/* Smnaller base font size */
body, .btn, .form-control {
  font-size: 12px;
}
/* Smaller navigation bar */
.navbar {
    min-height: 20px;
    margin-bottom: 0;
}
.navbar-brand, .navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-brand {
    height: 30px;
    padding: 7px 7px;
}
.nav {
    margin-bottom: 2px;
}
/* Smaller well space */
.well {
  padding: 0px 9px 4px 9px;
}
/* Smaller alerts space */
.alert {
    padding: 5px;
    margin-bottom: 0px;
}
/* Smaller headings */
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 14px;
    margin-bottom: 7px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 7px;
    margin-bottom: 5px;
}
.h1, h1 {
    font-size: 24px; /* default: 36px **/
}
.h2, h2 {
    font-size: 20px; /* default: 30px **/
}
.h3, h3 {
    font-size: 16px; /* default: 24px **/
    border-bottom: 1px solid lightgray; /* ruler line-stacking under */
}
.h4, h4 {
    font-size: 14px; /* default: 18px **/
}
/* Smaller inputs and select boxes */
.btn, .form-control, .selectize-control {
    margin-bottom: 2px;
}
.btn:not(.directory-input), .form-control, .selectize-input {
    min-height: 30px;
    min-width: 120px;
    width: 100%;
    padding: 4px 8px;
}
/* directoryInput margins and width (+not above) */
.btn.directory-input {
    margin-bottom: 0px;
    min-width: 152px;
    height: 34px;
}
/* .form-control.directory-input-chosen-dir {
    min-width: 18vw;
    margin-bottom: 2px;
} */
.form-control.directory-input-displayed-dir {
    min-width: 31ch;
    max-width: 31ch;
    margin-bottom: 2px;
}
/* grey processing alert */
.alert-info.processing {
    background-color: #f5f5f5;
    border-color: #e3e3e3;
}
html, body {
    height: 100vh;
}
#interactive-plot-lakes, #interactive-plot-morphology {
    min-height: 440px;
    height: calc(100vh - 390px) !important;
}
#interactive-plot-macrophytes-1, #interactive-plot-macrophytes-2 {
    min-height: 430px;
    height: calc(100vh - 420px) !important;
}
